<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mythological queries</title>
  <script src="js/angular.min.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body ng-app="queryApp">
<div class="main" ng-controller="MainController" ng-init="init()">
  <select name="traditionlist" ng-change="toggleChange()" ng-hide="hidethis" ng-options="tradition.Name for tradition in queryresults" ng-model="selectedTradition">
    <option value="" disabled>-- Select a tradition --</option>
  </select>
  <select name="choiceofn" ng-hide="hidethis" ng-options="value for value in ns" ng-model="ntrads">
    <option value="" disabled>-- Select # --</option>
  </select>
  <button type="button" ng-click="sendTraditionQuery()">Send query</button>
  <div class="report" ng-hide="hideuntildata">
    <div class="collapsible" ng-repeat="nt in neighTrads">
      <b>{{ nt.code }}</b>
      <ul>
        <li>Common: {{ nt.common }}</li>
        <li>{{ ::selectedTradition.Name }} only: {{ nt.thisOnly }}</li>
        <li>{{ nt.code }} only: {{ nt.targetOnly }}</li>
      </ul>
    </div>
  </div>
</div>

<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
<script src="js/controllers/MainController.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>