<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mythological queries</title>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyCBGe-tLAd7dP12Oa3B4a_9Yj1otKFRvoQ"></script>
  <script src="js/angular.min.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="css/main.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body ng-app="queryApp">
<div class="main" ng-controller="MainController" ng-init="init()">
  <div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
      <h1>Motif comparison engine</h1>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="input-group">
      <select class="form-control" name="motiflist" ng-change="showSelectedMotif()" ng-hide="hidethis" ng-options="motif for motif in queryresults" ng-model="selectedMotif">
      <option value="" disabled>-- Select a motif --</option>
      </select>
      <select class="form-control" name="choiceofn" ng-hide="hidethis" ng-options="value for value in ns" ng-model="nmotifs">
        <option value="" disabled>-- Select # --</option>
      </select>
      <button type="button" ng-click="sendMotifQuery()">Send query</button>
      <button type="button" ng-click="showSelectedMotif()" ng-disabled="waitformap1">Show selected motif only</button>  
      </div>
    </div>
    <div class="col-xs-6">
      <p>Select a motif from the list on the left. Its distribution will be shown on the map below. To see the motifs closest in their geographic distribution to the chosen one, select the number of neighbours (from 1 to 30) and press “Send query”. The distribution of each of the neighbours can be plotted on the map together with that of the base motif.</p>
    </div>
  </div>
  
  <div class="row" style="margin-top: 10px; margin-bottom: 15px;">
    <div class="col-sm-3 report" style="margin-right: 10px;">
      <div class="collapsible" ng-repeat="m in neighMotifs">
        <b>{{ m.code }}</b>, distance: {{ m.distance | round }}, <a class="hand" ng-click="showOnTheMap(m.code)">show on the map</a>
      </div>
    </div>
    <div class="col-sm-6">
    <p>Legend: blue dots — <b>{{ selectedMotif }}</b> only; red dots — <b>{{ secondMotif }}</b> only; yellow dots — both motifs.</p>
      <div id="map1Div" style="width: 800px; height: 380px; margin-bottom: 10px;">
    </div>
  </div>
  </div>
</div>

<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
<script src="js/controllers/MotifController.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>