.report {
	padding: 3px;
}
/*
.form-control {
	max-width: 200px !important;
}*/

.collapsible {
	margin: 0;
	padding: 2px;
	padding-top: 4px;
	border-radius: 3px;
	border-bottom: 1px dotted grey;
}

.collapsible:first-child {
	margin-top: 5px;
}

.collapsible:last-child {
	border: 0;
}

a.hand {
	cursor: pointer;
}